@import 'fonts.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

body {
    font-family: 'Montserrat';
    background: #EFF5F5;
}

.container {
    max-width: 1345px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.title {
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    color: #626262;
    text-transform: capitalize;
}
.title-center {
    text-align: center;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}

.header__list {
    display: flex;
    column-gap: 25px;

}

.header__menu {
    display: flex;
    column-gap: 40px;
    align-items: center;
}

.header__link {
    font-size: 16px;
    line-height: 20px;
    color: #626262;
}

.btn {
    background: #FFFFFF;
    box-shadow: 0px 13px 20px -15px rgba(0, 71, 184, 0.49);
    border-radius: 6px;
    width: 194px;
    padding: 9px 0;
    border: none;
    font-size: 16px;
    line-height: 20px;
    color: #323232;
    cursor: pointer;
    display: block;
    text-align: center;
}
.btn-center {
    margin: 0 auto;
}

.intro {
    height: 700px;
    background: url(../image/header-bg.png) no-repeat center / contain;
    display: flex;
    position: relative;
}


.intro__content {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.intro__title {
    color: red;
    font-size: 50px;
    line-height: 61px;
}

.intro__app {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 635px;
    width: 100%;
    padding: 27px 0;
    background: rgba(255, 255, 255, 0.4);
    border: 1px solid #EAEAEA;
    box-shadow: 0px 59px 30px -40px rgba(0, 133, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 20px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
}

/* info */

.info {
    margin-top: 120px;
}

.info-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.info-top__content {
    width: 50%;
}

.info-top__items {
    width: 100%;
    margin-top: 32px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 30px;
}

.info-top__item {
    width: 310px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: #FFFFFF;
    box-shadow: 0px 30px 30px -15px rgba(0, 133, 255, 0.1);
    border-radius: 13px;
}

.info-item__img {
    width: 40px;
    height: 40px;
    border-radius: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
}

.info-top__item:nth-of-type(1) .info-item__img {
    background: #DA0000;
}

.info-top__item:nth-of-type(2) .info-item__img {
    background: #0083AC;
}

.info-top__item:nth-of-type(3) .info-item__img {
    background: #007EDA;
}

.info-top__item:nth-of-type(4) .info-item__img {
    background: #00CDDA;
}

.info-top__rate {
    font-size: 20px;
    font-weight: 400;
    color: #323232;
    display: flex;
    align-items: center;
}

.info-item__text-num {
    font-weight: 700;

}

.info-item__line {
    width: 43px;
    height: 6px;
    position: relative;
    margin-left: 17px;
    margin-right: 12px;
}

.info-item__line::after {
    content: "";
    width: 100%;
    height: 1px;
    background: #626262;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
}

.info-item__line::before {
    content: "";
    width: 100%;
    height: 1px;
    background: #626262;
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
}

.info-bottom {
    margin-top: 96px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.info-bottom__card {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}


.info-bottom__sub {
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    color: #626262;
    margin-top: 12px;
}

.info-bottom__price {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #626262;
}

.info-bottom__price:nth-of-type(1) {
    margin-top: 30px;
}

.info-bottom__price:nth-of-type(2) {
    margin-top: 20px;
}

.info-bottom__price:nth-of-type(1) span {
    margin-left: 80px;
}

.info-bottom__price:nth-of-type(2) span {
    margin-left: 8px;
}

.info-bottom__option {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.info-bottom__btn {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #626262;
    margin-left: 30px;
}
.offer {
    margin-top: 50px;
}
.offer__content  {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 30px;
    margin-bottom: 30px;
}
.offer-card {
    min-width: 642px;
    width: 100%;
    height: 220px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    border-radius: 10px;
}
.offer-card:nth-of-type(1) {
    background: #BDC4FF;
    box-shadow: 0px 40px 30px -25px rgba(189, 196, 255, 0.5);
}
.offer-card:nth-of-type(2) {
    background: #FFD280;
    box-shadow: 0px 40px 30px -25px rgba(255, 210, 128, 0.4);
} 
.offer-card:before {
    content: 'HIT';
    padding: 3px 16px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
    background: rgba(255, 255, 255, 0.4);
    border: 0.5px solid rgba(215, 215, 215, 0.3);
    box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(7.5px);
    border-radius: 4px;
    position: absolute;
    top: -10px;
    left: 23px;
} 
.offer-card__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
} 
.offer-card__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #626262;
}
.offer-card__price {
    width: 420px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #323232;
    margin-top: 20px;
    margin-bottom: 20px;
}
.offer-card__lifetime {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #323232;
    margin-bottom: 20px;

}
.mobile {
    padding-top: 50px;
    padding-bottom: 100px;
}
.mobile__content {
    margin-top: 30px;
    display: flex;
    gap: 30px;
}
.mobile__item {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    column-gap: 66px;
}
.mobile__inner {
    max-width: 642px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    
}
.mobile__inner:nth-of-type(1) .mobile__item {
    flex-direction: column;
    background:  #97EAB9;
    padding-top: 30px;
    row-gap: 20px;
}
.mobile__inner:nth-of-type(2) .mobile__item:nth-of-type(1) {
    background: #FFC1BD;
    height: 216px;
}
.mobile__inner:nth-of-type(2) .mobile__item:nth-of-type(2) {
    background: #C1B7FF;
    flex-direction: row-reverse;
    height: 216px;
}
.mobile__app {
    display: flex;
    align-items: center;
    gap: 30px;
    max-width: 750px;
    width: 100%;
    margin: 30px auto 0;
}
.mobile__app-item {
    max-width: 360px;
    width: 100%;
}
.mobile__app-link {
    padding: 27px 0;
    background: #FFFFFF;
    box-shadow: 0px 13px 20px -15px rgba(0, 71, 184, 0.49);
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
}
.footer__text {
    width: 305px;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #626262;
}
